@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,100&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background: url(zyadddbg.jpg);
}
.game_infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
 .container{
    height: 400px;
    width: 500px;
    border: 1px solid #999;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
 }

 #target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0.25s;
    animation: animateTarget 10s infinite;
 }

 button{
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #3C7103;
    border: 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
 }

 @keyframes animateTarget {
    to{
        transform: translateY(-200px) rotate(90deg);
    }
 }